  <html>
  <head>
    <meta charset="utf-8"/>
    <title>example</title>
    <link rel="stylesheet" href="/static/iThing.css" type="text/css" />
  </head>
  <body>
    <h1>Hello world</h1>
    <div id="slider"></div>
    <script src="/static/src/jquery-2.1.0.js"></script>
    <script src="/static/src/jquery-ui-1.10.4.custom.js"></script>
    <script src="/static/src/jQEditRangeSlider-min.js"></script>
    <script>
    //<!--
      $("#slider").editRangeSlider();
    //-->
    </script>
  </body>
</html>