<!DOCTYPE HTML> 
<html lang="en">
	<head>
         <script src="{{ url_for('static',filename='src/jquery-2.1.0.js') }}" ></script>
      <script src="{{ url_for('static',filename='src/Scribl.class.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.events.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.lane.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.glyph.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/FeatureTrack.js') }}" ></script>
<script src="{{ url_for('static',filename='src/Scribl.utils.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.tooltips.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.svg.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/Scribl.track.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Promoter.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.arrow.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.blockarrow.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.complex.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.line.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.rect.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/Scribl.seq.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/sgRNATicker.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/glyph/TFBS.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/jquery.mousewheel.min.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/jquery.nouislider.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/jquery-ui-1.10.4.custom.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/ajaxHandler.js') }}" ></script>
        <script src="{{ url_for('static',filename='src/kinetic-v5.0.1.js') }}" ></script>
        	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.nouislider.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='demos.css') }}" />
	<!-- .contentHolder { position:relative; margin:0px auto; padding:0px; width: 600px; height: 50px; overflow: hidden; }
	-->
        <style>

        .spacer { text-align:center }
        .scrollbarHolder { position:relative; margin:0px auto; padding:0px; width: 600px; height: 400px; overflow: hidden; }
</style>
    </head>
	
	<body onload="initializePage('canvas')">

     <div id="slider" class="contentHolder">
    </div>
       <p>Left: <input type=text size=7 name=left value="1489194">Right: <input type=text size=7 name=right value="1490630"><a href=# id=fetch>Refresh</a>
<span style="float:right">Gene to zoom to: <input id="geneInput" type="text" size="6" name="gene"></span>

		<div id="container" style="position:relative; left:0px">
			<canvas id="canvas" width="350" height="630" ></canvas>
			</br><a id="export">Export as PNG (right click Save As)</a>
		</div>

    <p>Time to unpickle all files: {{ time }}</p>
	<p>Experimental data set: <select name="expt"><option value="aerobicOnly">Aerobic only</option>
    <option value="anaerobicOnly">Anaerobic only</option>
    </select></p>
	</body>
	
</html>